<div class="container">
  <div class="container has-text-centered pb-3">
    <p class="title white-title">Login</p>
  </div>
  <form id="login-form">
    <div class="field">
      <input id="email-login" class="input" type="email" placeholder="Email">
    </div>
    <div class="field">
      <input id="password-login" class="input" type="password" placeholder="Password">
    </div>
    <div class="field">
      <p class="control">
      <button class="button is-success">
      Login
      </button>
      </p>
    </div>
  </form>
</div>


<script src="./js/login.js"></script>
