<div class="container">
  <div class="container has-text-centered pb-3">
    <p class="title white-title">Sign Up</p>
  </div>
  <form id="signup-form">
    <div class="field">
        <input id="name-signup" class="input" type="text" placeholder="Name">
    </div>
    <div class="field">
        <input id="email-signup" class="input" type="email" placeholder="Email">
    </div>
    <div class="field">
        <input id="password-signup" class="input" type="password" placeholder="Password">
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-success">
          Sign Up
        </button>
      </p>
    </div>

  </form>

</div>

<script src="/js/signup.js"></script>